{% extends "base.html" %}

{% block content %}
<h1>Delete Cars</h1>
<div class="container">
    <h2>Enter id of the car to delete it</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="form-label" for="id">ID</label>
            <input class="form-control" type="text" name="id" id="id">
        </div>
        <br>
        <div class="form-group">
            <input class="btn btn-danger" type="submit">
        </div>
    </form>
</div>
{% endblock %}